{% extends 'layout.html' %}
{% block content %}
    {% if category %}
        <div class="content-section">
            <p class="article-content">{{ category.description }}</p> 
        </div>
    {% endif %}
    {% for post in posts.items %}
        <article class="media content-section">
            <div class="media-body">
                <h2><a target="blank" class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
                <!-- <p class="markdown-body article-content">{{ post.post_content_render_markdown() | safe }}</p> -->
                <a class="link-no-dec" href="{{ url_for('main.posts_by_category', category=post.category.name) }}">{{ post.category.name }}</a>
                <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
        </article>
    {% endfor %}
    <!-- right_current include current page, so it is 2 -->
    <div class="row">
        <div class="col-center-block">
            {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
                    {% if posts.page == page_num %}
                        <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
                    {% else %}
                        <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
                    {% endif %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block right_nav_categories %}
<div class="content-section">
    <h3>Article Categories</h3>
    <p class='text-muted'>
    <ul class="list-group">
        <li class="list-group-item list-group-item-light">
            <a class="link-no-dec" href="{{ url_for('main.home') }}">All</a>
        </li>
        {% for category in post_categories %}
            <li class="list-group-item list-group-item-light">
                <a class="link-no-dec" href="{{ url_for('main.posts_by_category', category=category.name) }}">{{ category.name | capitalize }}</a>
            </li>
        {% endfor %}
    </ul>
    </p>
</div>
{% endblock right_nav_categories %}

{% block scripts %}
{{super()}}
$(document).ready(function(){
    $("article").click(function(){
        window.open($(this).find('a').attr("href"),"blank");
    })
});
{% endblock scripts %}